{% extends 'base.html' %}
{% load static %}
{% block content %}
      <h1>
        Products
      </h1>
      <!-- The django template code  to show all products in the page starts here -->
      <ul>
        {% for product in prods %}
        <li>Product : {{product.name}} - Price : {{product.price}} - Pic : {{product.pic}} </li>

        {% endfor %}
      </ul>

      <div class="card-group">
        {% for product in prods %}
        <div class="card">
          <img src="{{product.pic}}" class="card-img-top" alt="An image of {{product.name}}">
          <div class="card-body">
            <h5 class="card-title">{{product.name}}</h5>
            <p class="card-text">{{product.desc}}</p>
            <p class="card-text">&#8377; {{product.price}}</p>
            <p class="card-text"><small class="text-body-secondary"></small></p>
          </div>
        </div>
        {% endfor %}
      </div>
      <!-- Django template code ends here -->
{% endblock %}