* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 10;
    height: 50px;
}
body {
    main {
        /* max-width: 800px; */
        width: 100%;
        margin: auto;
        margin-top: 51px;
        margin-bottom: 20px;


        /* Styling for home page */
        .carousel {
            height: 300px;
            width: 100%;
            .carousel-inner {
                overflow: hidden;
                height: 100%;
                .carousel-item {
                    height: 100%;
                    img{
                        height: 100%;
                        width: 100%;
                        object-fit: cover;
                        background-color: black;
                    }
                }
            }
        }


        div.card-group {
             margin: auto;
             max-width: 80%;
            div.card {
                margin: 10px;
                /* background-color: blue; */
                max-width: 200px;
                height: 350px;
                
                    img {
                        object-fit: cover;
                        aspect-ratio: 1/1;
                        height: 50%;
                    }
                .card-body {
                    height: 50%;
                    button {
                        width: 60%;
                        font-size: smaller;
                    }
                }
            }
        }

        div.container-fluid {
            .row {
                .col {
                    width: 50%;
                    display: flex;
                    justify-content: center;
                    align-items: flex-start;
                    .img {
                        width: 100%;
                        background-color: black;

                        img {
                            width: 100%;
                            aspect-ratio: 1/1;
                            object-fit: contain;
                        }
                    }
                }
            }
        }
    }
}